@charset "utf-8";
/* 글로벌 언어팩 설정 */

        body{font-size: 12px;}
            /* body{
                display: flex;
                justify-content: center;
            } */
            /* flex를 사용하면 내부에 컨텐츠가 없다면 자동으로 가로 스크롤바가 없게 줄어든다 */
            .container{
                width: 1200px; margin: auto;
                display: flex;
            }

            /* .container>*{float: left;} */
            header{width: 240px;
                /* float: left; */
            }
            section{
                /* margin-left: 300px;
                margin-right: 300px; */
                /* margin: 0 228px 0 240px; */
                /* 이 부분은 기본적으로 너비가 지정이 되어있지 않기 때문에 100%를 가져가는데 margin을 통해 양 옆을 지정했으니 화면이 줄어들면 orange색이 줄어들게 된다 */
                width: calc(100% - 280px - 240px);
            }
            aside{
                width: 228px;
                top: 0; right: 0;
            }
            /*                          header design                           */
            /* h1{font-size: 0;} */
            h1{
                color: rgba(255, 0, 0, 0.692);
                height: 240px;
                display: flex; justify-content: center;
                align-items: center;
                outline: 5px solid rgba(255, 0, 0, 0.692);
                outline-offset: -10px;
            }

            .lnb{ padding: 10px;}
            .lnb li{ border-bottom: 1px solid gray;}
            .lnb a{display: block; padding: 10px 0;}
            .lnb a:hover{ text-align: center;
                background-color: rgba(255, 0, 0, 0.692);
                color: white;
            }

            .search-box{padding: 10px;}
            #search {
                border: 5px solid rgba(255, 0, 0, 0.692);
                padding: 10px 10px 8px 10px; width: 100%;
                background-image: url(./images/btn_search.png);
                background-repeat: no-repeat;
                background-position: right center;
            }
            /* input 태그는 너비, 기본 디자인 적용이 안되는 경우가 많다 */

            .header-title-box{
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-transform: uppercase;
                font-size: 8px;
                padding: 10px;
            }

            .color-product-items>ul {
                display: flex;
                flex-wrap: wrap;
            }
            .color-product-items>ul>li {padding: 5px;}
            .color-prouct-box, .event-box, .new-box{margin-bottom: 15px; padding: 10px;}

            .new-item-title{margin-bottom: 10px;}
            .new-item-title>h3{margin-bottom: 10px;}

            /*                                      section design                   */
            .slider-box{width: 100%;}
            .slider-box img{width: 100%;}
            /* 이미지를 부모의 너비의 %를 해야 함께 줄어들게 된다. */
            .main-product-list-box>ul {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
            }
            .youtube-movie {
                display: flex;
                gap: 10px;
            }
            .video-box {width: 50%;}
            .video-box video{width: 100%;}
            .video-box span{display: block;}

            /*                                  aside design                        */
            aside{ display: flex; flex-direction: column;}
            aside img{width: 100%;}
            
            @media screen and (max-width:1240px) {
                .container{ width: 100%; }
            }
            @media screen and (max-width:970px) {
                .container{flex-wrap: wrap;}
                section{
                    /* margin: 0 0 0 240px; */
                    /* 970px로 줄어들면 section부분이 더이상 줄지않고 왼쪽 여백만 남기고 오른쪽 부분을 아래로 내려버린다 */
                    width: calc(100% - 240px);
                }
                aside{ 
                    width: calc(100% - 240px);
                    width: auto;
                    flex-direction: row;
                    margin-left: 240px;
                /* position을 다시 기본인 static으로 돌려버림 */
                }
            @media screen and (max-width:480px) {
                header{position: static; width: 100%;}
                section{margin: 0;}
                aside{ margin:0;}
                .lnb ul{display: flex; flex-wrap: wrap;}
                .lnb li{width: 33.333333%;}
                .lnb li:nth-child(1),
                .lnb li:nth-child(2),
                .lnb li:nth-child(3) {
                    border-top: 1px solid gray;
                }
                .lnb li:nth-child(1),
                .lnb li:nth-child(2),
                .lnb li:nth-child(4), 
                .lnb li:nth-child(5){
                    border-right: 1px solid gray;
                }
                .lnb a{text-align: center;}
                .new-items-box img{width: 100%;}
                .youtube-movie{flex-direction: column;}
                .video-box{width: 100%;}

                aside{flex-wrap: wrap;}
                aside>div{width: calc(50% - 5px);}

                section{width: 100%; margin: 0;}
                aside{width: 100%; margin: 0;}
            }
        }
        footer{
            height: 40vh;
            background-color: gray;
        }