.container{ width:1430px; margin:10px auto;
    /* background-color: skyblue; */
    /* float 자식으로 인한 여백오류 발생 
       overflow: auto; */
}
/* 연산자 좌우는 반드시 한개이상의 스페이스가 필요 */
.box{ width:calc((1410px - 846px) / 2); 
      height: calc((626px - 10px) / 2 );
      
      float:left; 
      padding: 15px;
      color:#fff; 
      text-transform: uppercase;
      background-size: cover;
      background-position: center center;
}
h2>span{
     border-bottom:1px solid #fff; 
     padding:0  0  4px 0;
     margin-right: 10px; 
     display: block;
     float:left;
     /* text-decoration: underline; */
}

.box02 span{
    border-bottom:1px solid #000;
}


.box01{ width: 846px; height: 626px; margin-right:10px;  margin-bottom:10px;}
.box02{ margin-right:10px; margin-bottom:10px;
    border:1px solid black; 
}
.box03{ margin-bottom:10px;  }
.box04{ margin-right: 10px; margin-bottom:10px; 
    border:1px solid black; }
.box05{ margin-bottom:10px;   }
.box06{ height: 626px; margin-right: 10px; }
.box07{ width: 846px;  margin-right: 10px; margin-bottom:10px;}
.box08{ margin-bottom:10px;}
.box09{ margin-right:10px;}
.box10{ width: 846px;  }


/* 이미지 배치 작업 */
.box01{ font-size:48px; padding: 1em;
    background-image: url(../images/img_banner1_2.jpg);
}
.box02{ color:#333; }
.box h2{ margin-bottom: 50px;}
.box02 p{ clear:both; font-size: 20px; margin-bottom: 100px;}
.box03{ background-image: url(../images/img_prfilm.jpg);
    
}
.box03 img{ padding-left:194px; padding-top:153px;}
.box04{ background-image: url(../images/img_product_view_500x50040.png);
        background-size: 70%;
        background-repeat: no-repeat;
}

.box05{ background-image: url(../images/img_csr1.jpg);}

.box06{ font-size:48px; padding: 1em;}
.box06{ background-image: url(../images/bg_apple.jpg);
      background-size: 70%;
      background-repeat: no-repeat;
      background-position: center  400px;
      background-color: #bd87b9;
}

.box06 h2, 
.box10 h2{ font-size: 36px; text-transform: capitalize;}
.box06 p,
.box10 p{ font-size: 16px; letter-spacing: -0.1em;
        line-height: 1.5;
}

.box07{ background-image: url(../images/img_maxim_flant_banner.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: right center;
    background-color:#9ab2cc;
}
.box07 h2{ font-size: 16px; text-transform: capitalize; 
        font-weight: 100; letter-spacing: -0.1em; line-height: 1;
}
.box07 h3{ font-size: 24px; font-weight: bold; line-height: 1;
    margin-top:-45px;
}
.box07 img{ width:150px; }
.box07 p{ font-size: 16px; font-weight: bold; letter-spacing: 1.3em;
    margin-top: -1em;
}
.box08{ background-image: url(../images/cf_thumb_맥심30초.jpg);}
.box09{ background-image: url(../images/webjin01.jpg);}


.box10{ font-size:48px; padding: 1em; 
    background-image: url(../images/bg_coffee.jpg);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 600px 80px;
    background-color:#bf657e;
}

