.box{ width:200px; height: 200px;   
    background-color: skyblue;
    border:1px solid blue; 
    margin:10px; 
    float:left; 
    font-size:20px;
}

.box1{ overflow: visible;}
.box2{ overflow: hidden; }
.box3{ overflow:scroll; }
/* 가로, 세로 스크롤 모두 생성 */
.box4{ overflow: auto; }
/*  넘치는 축에 스크롤이 생성 */
.box5{ overflow: auto; }
/*  콘텐츠가 넘치지 않으면 스크롤이 생성 안됨 */

.box6{ overflow: scroll;}
.box7{ overflow: auto;}
/* 텍스트는 세로만 넘치고 이미지는 가로세로 모두 넘칠 수 있음 */

/* 콘텐츠(내용)의 크기를 인식한다.  */